---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type Post = CollectionEntry<'posts'>;

const posts: Post[] = await getCollection('posts');

---

<BaseLayout>
    {
        posts.map(post => (
            <a href={`/posts/${post.slug}`}>
                <div class="flex justify-between">
                <div>{post.data.title}</div>
                <div>{post.data.date.toDateString()}</div>
            </div>
            </a>
        ))
    }
</BaseLayout>