@import "tailwindcss";
@plugin "@tailwindcss/typography";

/*implemented custom font by self hosting*/
@font-face {
    font-family: "figtree";
    src: url("/fonts/figtree/Figtree-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: "figtree", sans-serif;
}