---

---

<div class="w-full flex justify-between items-center h-12">
    <!-- This is the left side of header -->
     <div class="text-3xl font-bold">
        <a href="/">Tushar Manna </a>
     </div>
     <!-- This is the right side -->
     <div class="flex gap-2 font-medium">
        <a href="/projects">Projects</a>
        <a href="/mypicks">MyPicks</a>
        <a href="/posts">Posts</a>
     </div>

</div>